name: GitHub FollowBack Bot

on:
  schedule:
    - cron: '*/60 * * * *'
  workflow_dispatch:

jobs:
  up-and-running:
    runs-on: ubuntu-latest
    steps:
      - name: Get working copy
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y curl jq

      - name: Run Follower Bot
        run: |
          export personal_github_token=${{ secrets.PERSONAL_GITHUB_TOKEN }}
          curl -s 'https://raw.githubusercontent.com/x3ric/octobot/main/ghbot' | bash -s -- follow x3ric
# curl -s 'https://raw.githubusercontent.com/x3ric/octobot/main/ghbot' | bash -s -- unfollow torvalds
# Scheduled GitHub Actions are automatically disabled after 60 days of repository inactivity, so this is a trivial edit to keep them enabled.
